<!DOCTYPE html>
<html lang="fr-FR">
<head>

    <title>Pierre-Antoine Foulquier | développeur - Intégrateur web - CMS - Framework - PHP - MySQL</title>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=1100">

    {% block stylesheets %}

        {% stylesheets output='css/front.css' filter='cssrewrite, ?yui_css'
        '@JobmanagerFrontBundle/Resources/public/css/reset.css'
        '@JobmanagerFrontBundle/Resources/public/css/pafwebbook.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

    {% endblock %}

    {% block javascript %}

        <!--[if lt IE 9]>
        <script src="/wp-content/themes/pafwebbook/js/html5.js"></script>
        <![endif]-->
        <script>
            var _gaq = _gaq || [];
            var pluginUrl =
                    '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
            _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
            _gaq.push(['_setAccount', 'UA-22966045-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

    {% endblock %}

</head>

<body>

    <header id="header_main">

        <!-- DEBUT - bloc content 01 -->
        <div class="bloc_content_01">
            <h1 class="bloc_title_11">Pierre-Antoine Foulquier</h1>
            <h2 class="bloc_title_03">Développeur &#8211; Intégrateur Web</h2>
            <h3 class="bloc_title_04">Linux - Apache - MySQL - PHP - (Raspberry-Pi)</h3>
        </div>
        <!-- FIN - bloc content 01
        DEBUT - bloc content 02 -->
        <div class="bloc_content_02">

            <nav id="bloc_nav">
                <ul>
                    <li>
                        <a href="http://www.foulquier.info" class="bloc_title_06 link" title="accueil">ACCUEIL</a>
                    </li>
                    <li>
                        <a href="http://www.foulquier.info/competences" class="bloc_title_06 link" title="compétences">COMPETENCES</a>
                    </li>
                    <li>
                        <a href="http://www.foulquier.info/methodologie" class="bloc_title_06 link" title="méthodologie">METHODOLOGIE</a>
                    </li>
                    <li>
                        <a href="http://www.foulquier.info/tutoriaux" class="bloc_title_06 link" title="tutoriaux">TUTORIAUX</a>
                    </li>
                    <li>
                        <a href="/" class="bloc_title_06 link on" title="CV">JOB</a>
                    </li>
                </ul>
            </nav>

        </div>
        <!-- FIN - bloc content 02 -->

    </header>


    <!-- DEBUT - global -->
    <div id="global">

        {% block content %}

        {% endblock %}

    </div>
    <!-- FIN - global -->

    <!-- DEBUT - Footer -->
    <footer id="footer_main">

        <!-- DEBUT - bloc content 04 -->
        <div class="bloc_content_04 clearfix">
            <div class="bloc_content_04_column_01">

                <!-- DEBUT - bloc 02 - contact -->
                <div class="bloc_02" id="contact">
                    <h3 class="bloc_title_10">UNE QUESTION ?</h3>
                    <p>Faites moi part de votre projet, je vous contacterai dans un bref délais.</p>

                </div>
                <!-- FIN - bloc 02 - contact -->

            </div>
            <!-- DEBUT - bloc content 04 -->
            <div class="bloc_content_04_column_02">

                <!-- DEBUT - bloc 02 - une question -->
                <div class="bloc_02">
                    <h3 class="bloc_title_10">CONTACT</h3>
                    <p>Email et réseaux sociaux</p>

                    <!-- DEBUT - bloc galery 02 -->
                    <div class="bloc_galery_02 clearfix">
                        <div class="bloc_pict_02">
                            <a href="mailto:pa@foulquier.info" title="email">
                                <img src="/images/email.png" alt="mail" />
                            </a>
                        </div>
                        <div class="bloc_pict_02">
                            <a href="http://www.twitter.com/gerardchic" title="twitter" target="_blank">
                                <img src="/images/twitter.png" alt="twitter" />
                            </a>
                        </div>
                        <div class="bloc_pict_02">
                            <a href="http://www.facebook.com/gerardchiccliches" title="facebook" target="_blank">
                                <img src="/images/facebook.png" alt="facebook" />
                            </a>
                        </div>
                        <div class="bloc_pict_02">
                            <a href="https://plus.google.com/106547035258340422938/" title="google+" target="_blank">
                                <img src="/images/google+.png" alt="google+" />
                            </a>
                        </div>
                        <div class="bloc_pict_02">
                            <a href="http://instagram.com/gerardchic" title="instagram" target="_blank">
                                <img src="/images/instagram.png" alt="instagram" />
                            </a>
                        </div>
                        <div class="bloc_pict_02">
                            <a href="http://ffffound.com/home/gerardchic/found/" title="ffffound" target="_blank">
                                <img src="/images/ffffound.png" alt="ffffound" />
                            </a>
                        </div>
                        <div class="bloc_pict_02">
                            <a href="http://www.flickr.com/photos/gerardchic" title="flickr" target="_blank">
                                <img src="/images/flickr.png" alt="flickr" />
                            </a>
                        </div>
                        <div class="bloc_pict_02">
                            <a href="http://www.shutterstock.com/g/gerardchic?rid=50321" title="shutterstock" target="_blank">
                                <img src="/images/shutterstock.png" alt="shutterstock" />
                            </a>
                        </div>
                        <div class="bloc_pict_02">
                            <a href="http://www.artflakes.com/en/shop/gerardchic" title="artflakes" target="_blank">
                                <img src="/images/artflakes.png" alt="artflakes" />
                            </a>
                        </div>
                        <div class="bloc_pict_02">
                            <a href="http://www.pinterest.com/gerardchic/" title="pinterest" target="_blank">
                                <img src="/images/pinterest.png" alt="pinterest" />
                            </a>
                        </div>
                        <div class="bloc_pict_02">
                            <a href="http://www.lastfm.fr/user/gerardchic" title="lastfm" target="_blank">
                                <img src="/images/lastfm.png" alt="lastfm" />
                            </a>
                        </div>
                        <div class="bloc_pict_02">
                            <a href="https://soundcloud.com/gerardchic" title="soundcloud" target="_blank">
                                <img src="/images/soundcloud.png" alt="soundcloud" />
                            </a>
                        </div>
                        <div class="bloc_pict_02">
                            <a href="http://www.youtube.com/gerardchic" title="youtube" target="_blank">
                                <img src="/images/youtube.png" alt="youtube" />
                            </a>
                        </div>

                        <div class="bloc_pict_02">
                            <a href="http://www.delicious.com/gerardchic" title="delicious" target="_blank">
                                <img src="/images/delicious.png" alt="delicious" />
                            </a>
                        </div>
                        <div class="bloc_pict_02">
                            <a href="https://github.com/gerardchic" title="github" target="_blank">
                                <img src="/images/github.png" alt="github" />
                            </a>
                        </div>
                        <div class="bloc_pict_02">
                            <a href="http://fr.linkedin.com/pub/pierre-antoine-foulquier/71/349/7b4" title="linkedin" target="_blank">
                                <img src="/images/linkedin.png" alt="linkedin" />
                            </a>
                        </div><div class="bloc_pict_02">
                            <a href="http://smarterer.com/gerardchic" title="smarterer" target="_blank">
                                <img src="/images/smarterer.png" alt="smarterer" />
                            </a>
                        </div>
                    </div>
                    <!-- FIN - bloc galery 02 -->

                </div>
                <!-- FIN - bloc 02 - une question -->

            </div>
            <!-- FIN - bloc content 04 -->

        </div>
        <!-- FIN - bloc content 04 -->

        <!-- DEBUT - bloc content 09 -->
        <div class="bloc_content_09">
            <p>HTML5 valid - CSS 3</p>
        </div>
        <!-- FIN - bloc content 09 -->

    </footer>
    <!-- FIN - Footer -->

</body>
</html>
