{# src/Jobmanager/AdminBundle/Resources/views/CandidateJob/candidatejob-form.html.twig #}

{% form_theme form "JobmanagerAdminBundle:Form:fields.html.twig" %}

{{ form_errors(form) }}
{{ form_rest(form) }}
<label for="jobmanager_adminbundle_candidatejob_sendCandidateJobAuto">Envoyer candidature</label>
<input type="checkbox" id="jobmanager_adminbundle_candidatejob_sendCandidateJobAuto" name="jobmanager_adminbundle_candidatejob[sendCandidateJobAuto]"/>

<button class="btn btn-primary" type="submit">Submit</button>

