{# src/Jobmanager/AdminBundle/Resources/views/CandidatureJob/view.html.twig #}

{% extends "JobmanagerAdminBundle::layout.html.twig" %}

{% block title %}
    Voir une candidature - {{ parent() }}
{% endblock %}

{% block content %}
    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
                <small>home</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <a href="/"><i class="fa fa-dashboard"></i> Home</a>
                </li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">

                <div class="col-md-6">
                    <div class="box box-warning">
                        <div class="box-header">
                            <h1 class="box-title">Description</h1>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <h2>{{ candidaturejob.name }}</h2>
                            <span>{{ candidaturejob.date|date('d/m/Y') }}</span>
                            <p>{{ candidaturejob.text }}</p>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>

            </div>
        </section><!-- /.content -->
    </aside><!-- /.right-side -->


{% endblock %}