{% extends "JobmanagerFrontBundle::layout.html.twig" %}

{% block content %}

    <h4 class="title-job-contact-4">Candidature poste de développeur PHP backend Symfony 2</h4>

    <div class="motivation">
        {% autoescape false %}
            {{ motivation.text }}
        {% endautoescape %}
    </div>

    <div class="bloc-cv">
        <a href="/docs/cv_paf.pdf">Voir le CV</a>
    </div>

    <h4 class="title-job-contact-4">Prise de contact</h4>

    <form method="post">

        {{ form_errors(form) }}
        {{ form_rest(form) }}
        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

{% endblock %}