{% extends "JobmanagerFrontBundle::layout.html.twig" %}

{% block content %}
    <h4>En recherche d'un poste de développeur PHP backend Symfony 2</h4>
    <p>{{ motivation.text }}</p>
    <h4>
        <a href="/docs/cv_paf.pdf">Voir mon CV</a>
    </h4>
{% endblock %}