/* COMMON */




/* fontface
_____________________________ */


@font-face
{
    font-family: 'open_sansextrabold';
    src: url('/fonts/pafwebbook/opensans-extrabold-webfont.eot');
    src: url('/fonts/pafwebbook/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/pafwebbook/opensans-extrabold-webfont.woff') format('woff'),
    url('/fonts/pafwebbook/opensans-extrabold-webfont.ttf') format('truetype'),
    url('/fonts/pafwebbook/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'open_sansregular';
    src: url('/fonts/pafwebbook/opensans-regular-webfont.eot');
    src: url('/fonts/pafwebbook/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/pafwebbook/opensans-regular-webfont.woff') format('woff'),
    url('/fonts/pafwebbook/opensans-regular-webfont.ttf') format('truetype'),
    url('/fonts/pafwebbook/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'vollkornregular';
    src: url('/fonts/pafwebbook/vollkorn-regular-webfont.eot');
    src: url('/fonts/pafwebbook/vollkorn-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/pafwebbook/vollkorn-regular-webfont.woff') format('woff'),
    url('/fonts/pafwebbook/vollkorn-regular-webfont.ttf') format('truetype'),
    url('/fonts/pafwebbook/vollkorn-regular-webfont.svg#vollkornregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body
{
    font-family: 'open_sansregular';
    color: #000000;
}


/* Clearfix
_______________*/


.clearfix:after
{
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    height:0;
}

.clearfix
{
    display:inline-block;
}

.clearfix
{
    display:block;
}

* html .clearfix
{
    height:1%;
}



/* Fonts
_____________________________*/

p
{
    line-height: 22px;
    padding-bottom: 10px;
}




/* LAYOUT */

/* Layout structure
____________________________________________*/


#header_main
{
    text-align: center;
}

#global
{
    width: 960px;
    margin: 0 auto;
}

#footer_main
{
    background-color: #CCCCCC;
    color: #ffffff;
}


/* LAYOUT BLOC CONTENT - commons
____________________________________________*/


.motivation
{
    padding-bottom: 20px;
}


.title-job-contact-4
{
    padding: 20px 0;
    font-size: 18px;
    font-weight: bold;
}




/* Layout bloc content 01
____________________________________________*/


.bloc_content_01
{
    background-color: #000000;
    height: 240px;
    min-width: 960px;
}


/* Layout bloc content 02
____________________________________________*/


.bloc_content_02
{
    padding-bottom: 54px;
}

.bloc_content_02 p.cat_01
{
    font-size: 12px;
    padding-bottom: 30px;
}


.bloc_content_02 p,
.bloc_content_03 p
{
    font-size: 12px;
}



/* Layout bloc content 04 - 2 columns
____________________________________________*/


.bloc_content_04
{
    padding: 54px 0 20px 0;
    width: 960px;
    margin: 0 auto;
}

.bloc_content_04_column_01,
.bloc_content_04_column_02
{
    width: 480px;
    float: left;
}

.bloc_content_04_column_02 #twitter
{
    margin: 0 auto;
    padding-top: 15px;
}




/* Layout bloc content 09
____________________________________________*/


.bloc_content_09
{
    padding: 0 2px 20px 2px;
    width: 960px;
    margin: 0 auto;
    border-top: solid 1px #FFFFFF;
}

.bloc_content_09 p
{
    color: #FFFFFF;
    font-size: 10px;
    padding-top: 20px;
    text-align: center;
}




/* Layout bloc 01
___________________________*/

.bloc_01
{
    width: 274px;
    height: 360px;
    float: left;
    margin-right: 69px;
    padding-bottom: 10px;
}

.bloc_01 p,
.bloc_01 span
{
    padding-left: 5px;
}

.bloc_01 span
{
    color: #738293;
    font-size: 12px;
    font-style: italic;
    padding-bottom: 10px;
    display: block;
}



/* Layout bloc 02
___________________________*/


.bloc_02
{
    padding-bottom: 20px;
}

.bloc_02 p
{
    font-size: 12px;
    color: #FFF;
}

.bloc_02 p span
{
    font-weight: bold;
    padding-bottom: 2px;
}


.bloc_galery_02
{
    padding: 20px 0 0 10px;
}


/* Layout bloc pict 02
________________________*/


.bloc_pict_02
{
    width: 32px;
    height: 32px;
    float: left;
    padding: 0 16px 16px 0;
}
.bloc_pict_02:hover
{
    opacity: 0.7;
    -moz-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
}


/* CV link */


.tech-test
{
    height: 32px;
    padding: 3px 0 0 37px;
    margin-bottom: 10px;
    background: transparent url("/images/smarterer-24.png") scroll 0 0 no-repeat;
}

.bloc-cv
{
    height: 32px;
    padding: 3px 0 0 37px;
    margin-bottom: 10px;
    background: transparent url("/images/pdf.png") scroll 0 0 no-repeat;
}

.tech-test a,
.bloc-cv a
{
    color: #000000;
}
.tech-test a:hover,
.bloc-cv a:hover
{
    opacity: 0.7;
    -moz-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
}


/* Form front recall
_____________________________*/


.flash-notice
{
    color: green;
    padding-bottom: 20px;
}

form
{}

.columns
{}

.columns .column-01,
.columns .column-02
{
    float: left;
    width: 300px;
}

.columns .column-01 div,
.columns .column-02 div
{
    margin-bottom: 20px;
}

.columns .column-01 div input,
.columns .column-02 div input,
.columns .column-02 div textarea
{
    width: 200px;
}

form div label
{
    display: block;
    padding-bottom: 10px;
}

form div input
{
    display: block;
    margin-bottom: 10px;
}

form div #jobmanager_adminbundle_superrecallfront_description
{
    width: 500px;
    height: 100px;
    margin-bottom: 20px;
}

label[for=jobmanager_adminbundle_superrecallfront_recruiter_gender]
{}

input#jobmanager_adminbundle_superrecallfront_recruiter_gender
{}

.btn
{
    margin-bottom: 40px;
}

/* Button 01
_______________*/


.button,
a.btn,
a.btn:visited,
a.button,
a.button:visited,
input[type="submit"],
input[type="reset"],
input[type="button"]
{
    background: -moz-linear-gradient(center top , #FCFCFC 0%, #E0E0E0 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    font-weight: normal;
    left: 0;
    line-height: 100%;
    margin: 0;
    overflow: visible;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    top: 0;
    vertical-align: middle;
    width: auto;
    padding: 5px 10px 5px 5px;
    margin-left: 70px;
}

.button:hover,
a.btn:hover,
a.button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover
{
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #EDEDED 100%) repeat scroll 0 0 transparent;
    border: 1px solid #BBBBBB;
}


/* NAV */

/* Main Navigation
____________________________________________*/


#bloc_nav
{
    min-width: 960px;
    margin: 0 auto;
    height: 40px;
    padding: 10px 0;
    background-color: #CCCCCC;
}


#bloc_nav ul
{
    padding-top: 10px;
    list-style: none;
    text-align: center;
}

#bloc_nav ul li
{
    display: inline;
    margin: 0 20px;
}

#bloc_nav ul li a
{
    text-decoration: none;
    padding: 0 15px 0 15px;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;

}

#bloc_nav ul li a.link
{
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
}

#bloc_nav ul li a.link:hover,
#bloc_nav ul li a.on
{
    opacity: 0.5;
}



/* TITLES */



/* Bloc title - commons
____________________________________________*/


.bloc_title_01,
.bloc_title_03,
.bloc_title_04,
.bloc_title_05,
.bloc_title_08,
.bloc_title_11
{
    font-family: 'vollkornregular';
}

.bloc_title_03,
.bloc_title_04,
.bloc_title_06,
.bloc_title_10,
.bloc_title_11
{
    color: #FFFFFF;
}


.bloc_title_01,
.bloc_title_03
{
    font-size: 58px;
}

.bloc_title_06,
.bloc_title_07,
.bloc_title_09,
.bloc_title_10
{
    font-size: 18px;
}

a.link_bloc_01,
a.article_link
{
    font-size: 12px;
}


/* Bloc title 01
____________________________________________*/


.bloc_title_01
{
    padding-top: 40px;
}


/* Bloc title 02
____________________________________________*/


.bloc_title_02
{
    font-size: 44px;
    color: #738293;
    padding-bottom: 40px;
}


/* Bloc title 03
____________________________________________*/


.bloc_title_03
{
    padding-bottom: 20px;
}


/* Bloc title 04
____________________________________________*/


.bloc_title_04
{
    font-size: 24px;
}


/* Bloc title 05
____________________________________________*/


.bloc_title_05
{
    font-size: 20px;
    color: #738293;
    padding: 20px 0;
}


/* Bloc title 06
____________________________________________*/


.bloc_title_06
{
    font-family: 'open_sansextrabold';
    padding: 20px 0;
}


/* Bloc title 07
____________________________________________*/


.bloc_title_07
{
    font-family: 'open_sansextrabold';
    padding-bottom: 5px;
}


/* Bloc title 08
____________________________________________*/


.bloc_title_08
{
    font-size: 14px;
    padding: 0 0 2px 5px;
}


/* Bloc title 09
____________________________________________*/


.bloc_title_09
{
    font-family: 'open_sansextrabold';
    padding: 20px 0 20px 0;
}


/* Bloc title 10
____________________________________________*/


.bloc_title_10
{
    font-family: 'open_sansextrabold';
    padding-bottom: 10px;
}


/* Bloc title 11
____________________________________________*/


.bloc_title_11
{
    font-size: 42px;
    padding: 40px 0 6px 0;
}




/* Link bloc 01
___________________________*/


a.link_bloc_01
{
    color: #738293;
    margin-bottom: 35px;
    padding-left: 5px;
    text-decoration: underline;
    font-style: italic;
    display: block;
}
a.link_bloc_01:hover
{
    color: #00142c;
}


a.article_link
{
    color: #738293;
    line-height: 18px;
    text-decoration: underline;
}
a.article_link:hover
{
    color: #00142c;
}


